*{margin:0}
body{
    display:flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    
}
div{
    width: 500px;
    height: 500px;
    border: 10px solid #FB1;
}
h1{
    width: 200px;
    height: 40px;
    border: 5px solid #BADA55;
    color:#C55;
    margin: 0;
    text-align: center;
}